# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vscode

#Advent of Code stuff
input
input_test
2025/Day 1/input_test.txt
2025/Day 1/input.txt
2025/Day 2/input_test.txt
2025/Day 2/input.txt
2025/Day 3/input.txt
2025/Day 3/input_test.txt
2025/Day 4/input.txt
2025/Day 4/input_test.txt
2025/Day 5/input_test.txt
2025/Day 5/input.txt
2025/Day 5/input_test2.txt
2025/Day 6/input.txt
2025/Day 6/input_test.txt
2025/Day 8/input_test.txt
2025/Day 8/input.txt
2025/Day 7/input_test.txt
2025/Day 7/input.txt
2025/Day 9/input_test.txt
2025/Day 9/input.txt
